.Home{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.HomeContainer {
  --value: 0%;
  --pika: 0%;
  height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* z-index: -1; */
  /* padding-top: 10vh; */
  background: linear-gradient(90Deg, var(--text) 0%, var(--text) var(--value), var(--bg) var(--value), var(--bg) 100%);
  /* background: linear-gradient(152.7Deg, var(--text) 0%, var(--text) var(--value), var(--bg) var(--value), var(--bg) 100%); */
}

.HeroContainer {
  /* padding-top: 10vh; */
  color: var(--text);
  mix-blend-mode: difference;
  overflow: hidden;
  display: flex;
  flex-direction: column;  
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: end;
  height: 100vh;

}

/* .HeroContainer h1 {
  font-family: var(--font-unbounded);
  text-align: center;
  font-size: 200px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  width: 85vw;
  align-items: center;
  letter-spacing: -5px; 
  mix-blend-mode:overlay;
} */

.HeroContainer h1 p {
  color: transparent;
  -webkit-text-stroke: 2px var(--text);
  font-size: 200px;
  font-family: 'Pgr';
}

.HomeFooterContainer {
  height: 6vh;
  width: 100vw;
  background-color: var(--text);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .HomeFooterContainer p{
  font-family: var(--font-unbounded);
  font-weight: 600;
  font-size: 30px;
  color: var(--bg);
} */

.PiKaCHu {
  position: absolute;
  top: -150%;
  /* left: 0; */
  height: 90px;
  width: 110px;
  left: var(--pika);
  mix-blend-mode: difference;
}

.HomeMiddleContainer {
  height: 50vh;
  width: 80vw;
  /* border: 1px solid var(--text); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-template-areas:
    "t1 t1 t1"
    "t2 t3 t4"; */
}

/* .cardContainer{
  border: 1px solid var(--text);
  background-color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 90%;
  width: 50%;
  position: relative;
  border: 1px solid var(--text);
}

.cardSpan{
  display: flex;
  height: 20%;
  justify-content: space-between;

  span{
    height: 100%;
    width: 5%;
    background-color: var(--text);
  }
} */


.textContainer {
  display: flex;
  list-style: none;
  flex-direction: column;
  /* border: 1px solid var(--text); */
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 19px;
  font-family: var(--font-unbounded);
}

.ResumeContainer {
  /* border: 1px solid var(--text); */
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--bg);
    font-family: 'Charger';
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--text);
    padding: 10px 50px;
  }
}

.FrontEndContainer {
  height: 80vh;
  width: 90%;
  /* border: 1px solid var(--text); */
  mix-blend-mode: difference;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c1 c1"
    "d1 d1 d2";
  /* font-family: var(--font-unbounded); */
  font-family: 'Rom';
  align-items: center;
  /* place-items: center; */
}

.frontContainer {
  grid-area: c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.frontText {
  font-size: 330px;
  grid-area: h1;
  /* transform: scale(1,1.3); */
  /* text-align: ; */
}

.frontBar {
  font-size: 200px;
  grid-area: s1;
  display: flex;
  justify-content: center;
  height: 10%;
  width: 60%;
  background: var(--text);
}

.frontTextEnd {
  font-size: 330px;
  /* text-align: start; */
  grid-area: h2;
}


.devText {
  /* --size:1%; */
  font-size: 250px;
  grid-area: d1;
  width: 100%;
  perspective: 800px;
  transform-style: preserve-2d;
  transform: scale(1,2);
}

.char {
  display: inline-block;
  /* transform-style: preserve-3d; */
  backface-visibility: hidden;
  letter-spacing: 10px;
  transition: transform 0.1s linear;
}

.devContainer {
  grid-area: d2;
}

.devTextEnd {
  font-size: 20px;
  font-family: 'KGT';
  width: 100%;
  text-align: justify;
}

.InfiniteScrollConainer {
  display: flex;
  height: 100%;
  overflow: hidden;
  /* gap: 100px; */
  width: 100%;
}

.InfiniteScrollContent {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  animation: infiniteScroll 10s linear infinite;
  gap: 100px;
}

.InfiniteScrollAnime {
  width: max-content;
  display: flex;
  gap: 100px;
  height: 100%;
}

.InfiniteScrollContent {
  color: var(--bg);
  font-size: 20px;
  font-family: var(--font-unbounded);
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}