*{
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

@font-face {
  font-family: 'PGR';
  src: url('../../assets/font/PGR.ttf');
}

@font-face {
  font-family: 'Charger';
  src: url('../../assets/font/ChargerEcoBold.otf');
}

@font-face {
  font-family: 'Rom';
  src: url('../../assets/font/Romien.otf');
}

@font-face {
  font-family: 'Gondens';
  src: url('../../assets/font/Gondens\ DEMO.otf');
}

@font-face {
  font-family: 'KGT';
  src: url('../../assets/font/KGThinkingOutLoud.ttf');
}

:root{
  --text: #00ff00;
  --bg:#000000;
}

body{
  width: fit-content;
  height: fit-content;
}