@property --stop {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.HomeContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--bg) var(--stop), var(--text) var(--stop));
  flex-direction: column;
  --stop: 0%;
}

.GoTMContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.HomeTitle {
  font-family: 'Charger';
  font-size: clamp(100px, 15vw, 500px);
  color: var(--text);
  mix-blend-mode: difference;
  margin: 0;
}

.LoadingTextContainer {
  height: 5vh;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
}

.LoadingText {
  color: var(--text);
}

.LoadingBarContainer {
  position: absolute;
  width: 70%;
  height: 15%;
  border: 2px solid var(--text);
  right: 0%;
  bottom: 0%;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.LoadingFill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--text);
  z-index: 0;
}

.LoadingBarWelcome {
  /* transform: translateX(0%); */
  padding-left: 0%; 
  mix-blend-mode: difference;
  color: var(--text);
  font-size: clamp(10px, 15vw, 40px);
  font-family: 'Charger';
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}